.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden; }

main {
  flex: 1 0 auto;
  overflow: hidden;
  overflow-y: scroll; }

main::-webkit-scrollbar {
  width: 0 !important; }

html, body {
  height: 100%; }

.input-field input[type=search] + label {
  position: absolute;
  top: 0;
  left: auto;
  right: 1rem; }

.close-search {
  display: none;
  cursor: pointer;
  line-height: 64px;
  position: absolute;
  top: 0;
  left: 1rem;
  opacity: 0.75;
  color: black; }

.carousel-item {
  height: 100%; }

.carousel {
  overflow: visible; }

.collapsible .collapsible-header {
  padding: 1rem;
  line-height: normal; }

.collapsible .collapsible-header .row {
  margin-bottom: 0; }

.collapsible .collapsible-header .circle {
  color: white;
  line-height: 42px;
  text-align: center;
  width: 42px;
  height: 42px;
  overflow: hidden;
  display: inline-block; }

.collapsible .collapsible-header .title {
  font-size: 16px;
  text-align: center;
  line-height: 42px; }

.collapsible .collapsible-header p {
  margin: 0; }

footer.page-footer {
  padding-top: 0; }

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 999999999999;
  /* Sit on top */
  left: 0;
  top: 0;
  padding: 10px;
  /* overflow-x: hidden;  Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

.logo {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
